.bgTeal{
    display: flex;
    background-color: #C6F8F6;
}
.bgGray{
    display: flex;
    background-color: #D2CECE;
}
.center{
    display : flex;
    justify-content: center;
}
.space{
    display: flex;
    justify-content: space-between;
}
