<div class="container-fluid">
    <div class="row bgTeal">
        <div class="col center">
            <h2>NinjaStars4Sale</h2>
        </div>
        <!--Image of the shopping cart will go right here-->
        <img src="assets/cartImage.png" (click)="toggleList()" height="40vh" rel="stylesheet">
        <a id="cart" (click)="toggleList()"> Cart <span class="badge badge-info">{{cartCount}}</span></a>
        <div class="cold-flex justify-content-endRight">
            <app-login-modal></app-login-modal>
        </div>
    </div>
</div>

<div class="container" *ngIf="showList">
    <div class="shopping-cart">
        <div class="shopping-cart-header">
            <i class="fa fa-shopping-cart cart-icon"></i><span class="badge badge-info">{{cartCount}}</span>
            <div class="shopping-cart-total">
                <span>Total:</span>
                <span>${{cartTotal}}</span>
            </div>
        </div>
        <div *ngIf="cartItems.length == 0" class="py-2">
            No items in your cart!
        </div>
        <ul class="shopping-cart-items">
            <li *ngFor="let item of cartItems; let i = index">
                <!-- <img src="assets/test.jpg" alt="Item" /> -->
                <span class="item-name">{{item.pName}}</span>
                <span class="item-price">${{item.price}}</span>
                <span class="item-quantity">Quantity:{{item.quantity}}</span>
                <button class="btn btn-primary" (click)="addQuantity(item)">+</button>
                <button class="btn btn-primary" (click)="subtractQuantity(item, i)">-</button>
                <a (click)="removeItem(item, i)" class="item-remove text-danger"> Remove </a>
            </li>
        </ul>
        <a href="#" class="btn btn-primary btn-block">Checkout</a>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bgGray">
    <ul class="collapse navbar-collapse navbar-nav">
        <li class="nav-item mx-auto">
            <a class="nav-link" routerLink="/home1" routerLinkActive="active"><b>Home</b></a>
        </li>
        <li class="nav-item mx-auto">
            <a class="nav-link " routerLink="/items" routerLinkActive="active"><b>Items</b></a>
        </li>
        <li class="nav-item mx-auto">
            <a class="nav-link " routerLink="/contact-us" routerLinkActive="active"><b>Contact Us</b></a>
        </li>
    </ul>
</nav>