<p>product works!</p>
<app-product-card class="col-4" *ngFor="let product of products" [pPic]=product.pPic [pName]=product.pName
    [pDescription]=product.pDescription [pPrice]=product.pPrice [pReview]=product.pReview>
</app-product-card>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Reviews</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3> Reviewer Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Number of stars for the review</p>
        </div>
        <div class="col-9">
            <p>The actual Review that the reviewer is giving</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3> Reviewer Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Number of stars for the review</p>
        </div>
        <div class="col-9">
            <p>The actual Review that the reviewer is giving</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3> Reviewer Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Number of stars for the review</p>
        </div>
        <div class="col-9">
            <p>The actual Review that the reviewer is giving</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3> Reviewer Name</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p>Number of stars for the review</p>
        </div>
        <div class="col-9">
            <p>The actual Review that the reviewer is giving</p>
        </div>
    </div>
</div>