/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.bgTeal{
    display: flex;
    background-color: #C6F8F6;
}
.bgGray{
    display: flex;
    background-color: #D2CECE;
}
